body {
 background-image: url("images/mountains.jpg");
    background-color: blueviolet;
    background-size: cover;
background-repeat: no-repeat; 
}

#seascape {
    background-image: url("images/beach.jpg");
       background-color: blueviolet;
       background-size: cover;
   background-repeat: no-repeat; 
   }
   #wave {
    background-image: url("images/wave.jpeg");
       background-color: blueviolet;
       background-size: cover;
   background-repeat: no-repeat; 
   }

   #forest {
    background-image: url("images/forest.jpeg");
       background-color: blueviolet;
       background-size: cover;
   background-repeat: no-repeat; 
   }

   #foresttest{
    background-image: url("images/mountains.jpg");
       width: 1500px;
       height: 20000px;
       display: block;
       position: relative;
        
   }


ul#navigation{
margin-top: 0;
    margin-left: 0;
padding-left: 0;
list-style-type: none;
background: #036;
float: left;
width: 100%;
}

ul#navigation li
{
    display: inline;
}

ul#navigation a {
    display: block;
    float: left;
    padding: .2em 1em;
text-decoration: none;
color: #fff;
background: #036;
border-right: 1px solid #fff;
}



.lists{
    background-color:rgba(76, 141, 201, 0.6);
    text-align: left;
    padding: 25px 25px 25px 5px;
width: 100%;
}

.textFont{

font-family: fantasy;
}
.textColor{
    color:whitesmoke; 

}

.size{
    width: 400px;
}

#bigTitle {
    font-size: 60px;
    color:whitesmoke;
    font-style: oblique;
    text-shadow: 5px 4px #036;
}

* {

    box-sizing: border-box;
    padding: 1px;

}